#search {
    position: fixed;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.header {
    position: relative;
    margin: 1.2rem 0px;
}

.header_logo img {
    width: 100%;
}

.input {
    display: flex;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, .3);
    border-radius: 30px;
}

.input-group {
    width: 90%;
}

.form-control .searchBar {
    border: 50px;
}

.adjust_icon::after {
    content: "";
    display: block;
    background-image: url('../../icon/adjust.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 30px;
    margin: 3px 0px;
}

.modal-backdrop {
    background-color: transparent;
    width: 0px;
    height: 0px;
}

.modal-dialog {
    width: 90%;
    margin: 25vh auto;
}

.modal-body>div {
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px;
}

.modal-body>div>div {
    margin-right: 5px;
}

.btn-outline-secondary,
.btn-outline-secondary:hover,
.btn-outline-secondary:not(:disabled):not(.disabled).active:focus,
.btn-outline-secondary:not(:disabled):not(.disabled):active:focus,
.show>.btn-outline-secondary.dropdown-toggle:focus {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #707070;
    letter-spacing: 1px;
    box-shadow: none;
    border-radius: 0px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    border: none;
    background-color: transparent;
    color: #707070;
}

.setting_icon::after {
    content: "";
    display: block;
    background-image: url('../../icon/settings.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}

.form-align-top {
    align-items: flex-start;
}

.result {
    margin-top: 20px;
    color: #707070;
    overflow: auto;
}

.result_list {
    width: 100%;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, .3);
    padding: 10px;
    margin: 1em;
    border-radius: 5px;
}

.result_list .form-inline a {
    cursor: pointer;
    font-weight: bold;
    font-size: 35px;
}

.result_list h5 {
    margin: 3px 0px;
    font-weight: bold;
    letter-spacing: 2px;
}

.result_list img {
    width: 100%;
}

.result_list p {
    letter-spacing: 1px;
}

.result .span_text {
    font-size: 25px;
    padding-top: 100px;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
}

.highlight {
    color: red;
    font: bold;
    font-size: 25px;
    text-decoration: underline;
}

.dropdown-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.check-box {
    width: 15px;
    height: 15px;
    border: 1px solid #bbb;
    margin-right: 5px;
}

.btn-outline-secondary:not(:disabled):not(.disabled).active,
.btn-outline-secondary:not(:disabled):not(.disabled):active,
.show>.btn-outline-secondary.dropdown-toggle {
    background-color: transparent;
}

@media screen and (min-width:600px) {
    .modal-dialog {
        width: 70%;
        margin: 15vh 15% auto auto;
    }
}

@media screen and (max-width:600px) {
    .input {
        margin-top: 40px;
    }

    .header_logo {
        text-align: center;
    }

    .header_logo img {
        max-width: 60%;
    }

    .setting_icon::after {
        position: fixed;
        top: 1.2rem;
        right: 1.2rem;
    }
}


.no-padding {
    padding: 0px;
}

fieldset legend {
    border-bottom: 1px solid black;
    padding: 2px 0px;
    width: 100%;
    text-transform: uppercase;
    font-size: 18px;
    color: #8b9bad;
    letter-spacing: 1px;
    padding: 0;
}
.facet_checkboxs {
    line-height: 1.5;
}
.facet_checkboxs_text {
    padding-left: 0.5em;
    font-size : 25px;
}
.facet_checkboxs_label {
    cursor: pointer;
}
.facet_checkboxs_label_2 {
    cursor: pointer;
    margin-left: 20px;
}
.facet_checkboxs {
    line-height: 1.5;
}
.facet_checkboxs_text_level2 {
    padding-left: 0.5em;
    font-size : 25px;
}
.facet_checkboxs_label {
    cursor: pointer;
}

.badge {
    font-size : 17px;
    padding:  .375rem .5625rem;
    display: inline-block;
}
.badge .badge-pill {
    border-radius : 10rem;
}
