.query_table>tbody>tr>td {
  border: 3px #999 solid;
  background-color: #cecece;
}
.query_table>tbody>tr>td>button {
  background-color: #999;
}
.data_table {
  border: 3px #ededed solid;
}
.data_table>thead>tr>th {
  border: 1px #ededed solid;
  background-color: #999;
  font-weight: normal;
}
.data_table>tbody>tr:nth-child(even) {
  background-color: #fff;
}
.data_table>tbody>tr:nth-child(odd) {
  background-color: #ededed;
}
.data_table>tbody>tr>td {
  border: 1px #ededed solid;
}
