.query_table>tbody>tr>td {
  border: 2px #ededed solid;
  background-color: #C0D3A6;
}

.query_table>tbody>tr>td>button {
  background-color: #60c040;
  margin: 5px;
}

.data_table {
  border: 2px #ededed solid;
}

.data_table>thead>tr>th {
  border: 2px #ededed solid;
  background-color: #C0D3A6;
  font-weight: bold;
  padding-right: 10px;
  color: #636848;
}

.data_table>tbody>tr>td {
  border: 2px #ededed solid;
  padding-right: 10px;
}

.data_table>tbody>tr:nth-child(even) {
  background-color: #fff;
}

.data_table>tbody>tr:nth-child(odd) {
  background-color: #DCDCDC;
}

.selected {
  border: 3px green solid;
}
/* bulletin */

.title_div>.title {
  line-height: 0px;
  margin-top: 0px;
  color: red;
  font-weight: bold;
}

.title_div>.title_notes {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  color: blue;
}

.title_div>.title_note,
td {
  text-align: left;
}

.table_title {
  color: green;
  font-weight: bold;
  border: #60C040 2px solid;
  text-align: center;
  vertical-align: middle;
  background-color: #DFE9D1;
}

hr {
  margin-top: 0px;
  margin-bottom: 0px;
  border-top: 3px solid green;
}

.wrapper {
  overflow: auto;
}
