html,
body {
  height: 100%;
}

#col-t {
  padding-top: calc(1rem + 55px); 
}

#col-b {
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: calc(100% - 19rem);
  min-height: 300px;
}

#consoleTable {
  border: 3px ridge;
  background-color: #C0C0C0;
  padding: 1rem;
  text-align: center;
}

#infoTable {
  border: 3px ridge;
  height: 100%;
  overflow: auto;
  table-layout: fixed;
}

#infoTable table>thead>tr>th:hover {
  color: brown;
}