<!DOCTYPE html>
<html ng-app="loginApp">
	<head>
		<meta charset="UTF-8">
		<title>Raccoon | Login</title>
		<link rel="stylesheet" type="text/css" href="../scripts/external/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../css/login/view.css">
		
		<script type="text/javascript" src="../scripts/external/jquery.js"></script>
		<script type="text/javascript" src="../scripts/external/bootstrap/bootstrap.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.9/angular.min.js"></script>


	</head>
	<body ng-controller="loginCtrl">		
		<div class="wrapper fadeInDown">
			<div id="formContent">
				<!-- Tabs Titles -->
				<h2 class="fadeIn first">Raccoon MS Login</h2><br/>		
				<!-- Login Form -->
				<form ng-submit="login();">
					<input type="text" id="username" class="fadeIn second" name="username" placeholder="username" ng-model="username" required="required">
					<input type="password" id="password" class="fadeIn third" name="password" autocomplete="off" placeholder="password" ng-model="password" required="required"><br/><br/>
					<p id="pError" style="color: red;font:bold;"></p>
					<input type="submit" class="fadeIn fourth" value="LOGIN">
				</form>
			
				<!-- registered -->
				<div id="formFooter">
					<a class="underlineHover fadeIn fifth" href="/register">register</a>
				</div>
			
			</div>
		</div>		
	</body>
</html>
<script src="../scripts/common.js"></script>
<script src="../scripts/ngCommon.js"></script>
<script src="../scripts/login/login.js"></script>
<script type="text/javascript">
    var error = '<%= messages %>';
    if (error != null && error != "" && typeof(error) != "undefined") {
        let pError = document.getElementById('pError');
        pError.style.display = 'block';
        pError.innerText = error;
    }
</script>