<!DOCTYPE html>
<html ng-app="RegisterApp">
	<head>
		<meta charset="UTF-8">
		<title>Raccoon | Sign up</title>
		<link rel="stylesheet" type="text/css" href="../scripts/external/bootstrap/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../css/login/view.css">
	</head>
	<body ng-controller="RegisterCtrl">		
		<div class="wrapper fadeInDown">
			<div id="formContent">
				<!-- Tabs Titles -->
				<h2 class="fadeIn first">Register</h2><br />
				<form ng-submit="Register();">
					<input type="text" id="firstname" class="fadeIn second" name="firstname" placeholder="first name"
						required="required" style="width: 35%;" ng-model="firstname">
					<input type="text" id="lastname" class="fadeIn second" name="lastname" placeholder="last name" required="required"
						style="width: 46%;" ng-model="lastname">
					<p ng-show="!Havelastname">Please input the name</p>
					<select id="gender" class="fadeIn third" name="gender" required="required" ng-model="gender">
						<option value="" disabled selected hidden required="required">gender</option>
						<option value="male">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;male&#8195;</option>
						<option value="female">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;female</option>
						<option value="other">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;other</option>
					</select>
					<input type="text" id="username" class="fadeIn fourth" name="username" placeholder="username" required="required"
						ng-model="username" ng-focus="removeErrorOnFocus($event);"><br />
					<small ng-show="isAccError" style="color:red;">lengths are 3 to 100, only upper and lower case and number can be used.</small>
					<input type="password" id="password" class="fadeIn fifth" name="password" autocomplete="off" placeholder="password" required="required" ng-model="password" ng-focus="removeErrorOnFocus($event);"><br />
					<small ng-show="isPasswordError" style="font:bold;color: red;">must be 8 to 30 lengths and include lowercase and numbers.</small>
					<input type="password" id="passwordMatch" class="fadeIn fifth" name="passwordMatch" autocomplete="off" placeholder="enter password again" required="required" ng-focus="removeErrorOnFocus($event);" ng-model="passwordConfirm"> <br />
					<small ng-show="isPasswordNotMatch" style="font:bold;color: red;">password inconsistency</small>
					<!--<input type="email" id="email" class="fadeIn sixth" name="email" placeholder="請輸入電子郵件" required="required" ng-model="email"><br/>
					<small ng-show="isEmailError" style="font:bold;color: red;">請輸入正確的Email格式</small> -->
					<input type="submit" class="fadeIn seventh" value="SUBMIT">
				</form>
			</div>
		</div>		
	</body>
</html>

<script type="text/javascript" src="../scripts/external/jquery.js"></script>
<script type="text/javascript" src="../scripts/external/bootstrap/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.9/angular.min.js"></script>
<script src="../scripts/common.js"></script>
<script src="../scripts/register/register.js"></script>