#search
{
    position: fixed;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}
.header
{
    position: relative;
    margin: 1.2rem 0px;
}
.header_logo img
{
    width: 100%;
}
.input
{
    display: flex;
    box-shadow: 0px 3px 12px rgba(0,0,0,.3);
    border-radius: 30px;
}
.input-group
{
    width: 90%;
}

.adjust_icon::after
{
    content: "";
    display: block;
    background-image: url('../../icon/adjust.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 30px;
    margin: 3px 0px;
}
.modal-backdrop
{
    background-color: transparent;
    width: 0px;
    height: 0px;
}
.modal-dialog
{
    width: 90%;
    margin:25vh auto;
}
.modal-body > div
{
    display: flex;
    flex-wrap: wrap;
    margin:10px 0px;
}
.modal-body > div > div
{
    margin-right: 5px;
}
.btn-outline-secondary,.btn-outline-secondary:hover,.btn-outline-secondary:not(:disabled):not(.disabled).active:focus, .btn-outline-secondary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-secondary.dropdown-toggle:focus
{
    background-color: rgba(0,0,0,0);
    border: none;
    color: #707070;
    letter-spacing: 1px;
    box-shadow: none;
    border-radius: 0px;
}
.btn-primary,.btn-primary:hover,.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle
{
    border: none;
    background-color: transparent;
    color: #707070;
}
.setting_icon::after
{
    content: "";
    display: block;
    background-image: url('../../icon/settings.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}
.dropdown-item
{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.check-box
{
    width: 15px;
    height: 15px;
    border: 1px solid #bbb;
    margin-right: 5px;
}
.btn-outline-secondary:not(:disabled):not(.disabled).active, .btn-outline-secondary:not(:disabled):not(.disabled):active, .show>.btn-outline-secondary.dropdown-toggle
{
    background-color: transparent;
}
.result
{
    padding-top:20px;
}
#content .carousel-item img
{
    width: 100%;
    height: 350px;
    object-fit: contain;
}
.carousel-control-next-icon
{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ADADAD' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}
.carousel-control-prev-icon
{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ADADAD' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}
@media screen and (min-width:600px) {
    .modal-dialog
    {
        width: 50%;
        margin:10vh 15% auto auto;
    }
}
@media screen and (max-width:600px) {
    .input
    {
        margin-top:40px;
    }
    .header_logo
    {
        text-align: center;
    }
    .header_logo img
    {
        max-width: 60%;
    }
    .setting_icon::after
    {
        position: fixed;
        top: 1.2rem;
        right: 1.2rem;
    }
}